@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
.app{
  text-align:center;
}
.app__title{
  font-family: "Bigelow Rules";
  font-size:72px;
  color: #45c2ba;
  margin:2rem 0;
  letter-spacing:.1.5rem;
  -webkit-touch-callout: none; 
  user-select: none;
}